{% extends 'base\baseMactor.html' %}
{% load staticfiles %}

{% block pull-left %}
<h2>Matrices de influencia entre actores</h2>
{% endblock %}

{% block content %}

<! Matriz MID-------------------------------------------------------------------------------------------------->
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="widget wgreen">
                    <div class="widget-head">
                         <div class="pull-left">MID - Matriz de influencias directas</div>
                         <div class="widget-icons pull-right"></div>
                         <div class="clearfix"></div>
                    </div>

<div class="widget-content">

<table class="table table-bordered" id="tabla1">
    <thead>
        <tr>
            <input style='text-align: center;'  type="text" size="3" value="">
            {%if actores %}
                {% for actor in actores %}
                <input id="{{actor.id}}" name="col" style='text-align: center; background-color: #5e5e5e; color: white' readonly type="text" size="3" value="{{actor.nombreCorto}}" onclick="consultar()">
                {% endfor %}
            <input style='text-align: center; background-color: #5e5e5e; color: white' readonly type="text" size="3" value="Inf. D">
            {% else %}
            <h2>No hay actores registrados</h2>
            {% endif %}
            <br>
         </tr>
    </thead>

    <tbody>

        {%if valores %}
    <tr>
    {%for i in valores%}
        {%if i.posicion == cantidad_mid%}
        <input style='text-align: center;' readonly type="text" size="3" value="{{i.valor}}">
        <br>
        {%elif i.posicion == 0%}
        <input style='text-align: center; background-color: #5e5e5e; color: white ' readonly type="text" size="3" value="{{i.valor}}">
        {%else%}
         <input style='text-align: center;' readonly type="text" size="3" value="{{i.valor}}">
        {%endif%}
    {%endfor%}
        {% else %}
            <h2>No hay influencias registradas</h2>
        {% endif %}
            <br>
    </tr>
    </tbody>
</table>

</div>
                </div>
            </div>
        </div>
    </div>
<! ------------------------------------------------------------------------------------------------------------>

<br>
<br>

<! MATRIZ MIDI------------------------------------------------------------------------------------------------->
<div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="widget wgreen">
                    <div class="widget-head">
                         <div class="pull-left">MIDI - Matriz de Influencias Directas e Indirectas</div>
                        <div class="widget-icons pull-right"></div>
                        <div class="clearfix"></div>
                    </div>

<div class="widget-content">

<table class="table table-bordered" id="tabla2">
    <thead>
        <tr>
            <input style='text-align: center;'  type="text" size="3" value="">
            {%if actores %}
                {% for actor in actores %}
                <input style='text-align: center; background-color: #5e5e5e; color: white' readonly type="text" size="3" value="{{actor.nombreCorto}}">
                {% endfor %}
            <input style='text-align: center; background-color: #5e5e5e; color: white' readonly  type="text" size="3" value="Ii">
            {% else %}
            <h2>No hay actores registrados</h2>
            {% endif %}
            <br>
         </tr>
    </thead>

    <tbody>

        {%if valores_midi %}
    <tr>
    {%for i in valores_midi %}
        {%if i.posicion == cantidad_midi%}
        <!--Inserta el ultimo valor antes del salto de fila-->
        <input style='text-align: center;' readonly type="text" size="3" value="{{i.valor}}">
        <br>
        <!--Inserta los nombres cortos-->
        {%elif i.posicion == 0%}
        <input style='text-align: center; background-color: #5e5e5e; color: white ' readonly type="text" size="3" value="{{i.valor}}">
        {%else%}
        <!--inserta los valores midi-->
         <input style='text-align: center;' readonly type="text" size="3" value="{{i.valor}}">
        {%endif%}
    {%endfor%}
        {% else %}
            <h2>No hay influencias registradas</h2>
        {% endif %}
            <br>
    </tr>
    </tbody>
</table>

</div>
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-offset-2 col-md-8">
                    <a class="btn btn-sm btn-success" href="{%url 'mactor:influencia'%}"><i class="fa fa-arrow-left"></i> Atrás</a>
                    <a class="btn btn-primary" data-toggle="modal" href="#myModal"><i class="fa fa-book"></i> Ayuda</a>
                    <a class="btn btn-primary" data-toggle="modal" href=""><i class="fa fa-download"></i> Descargar</a>
                    <a class="btn btn-sm btn-success" href="{%url 'mactor:1mao'%}">Siguiente <i class="fa fa-arrow-right"></i></a>

                    <! INICIO MODAL AYUDA--------------------------->

                    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
								     <div class="modal-content">
								     <div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
									<h4 class="modal-title">Ayuda</h4>
								     </div>
								     <div class="modal-body">
									<p>Lista de actores a estudiar mediante MACTOR</p>
								     </div>
								  <div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
								  </div>
								    </div>
								</div>
                    </div>

                    <! FINAL MODAL AYUDA--------------------------->


                </div>
            </div>
        </div>
    </div>
<! ------------------------------------------------------------------------------------------------------------>

{% block extrajs %}
<script src="{% static 'jquery/jquery.min.js' %}"></script>
{% endblock %}



<script type="text/javascript">
    $(document).ready(function () {
        $("input").click(function () {
            alert($(this).attr("id"))

        });
    });
</script>

{% endblock %}